* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial, Sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-family: Open Sans, Arial, Sans-serif;
}

ol {
  list-style: none;
}

li {
  list-style: none;
}

.header {
  background: #000;
}

.header-inner-wrap {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.header-logo {
  margin-left: 5vw;
}

.header-nav {
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:first-child) {
  margin-left: 10px;
}

.header-nav-control {
  color: #fff;
  text-decoration: none;
}

.header-search-form {
  height: 40px;
  width: 40%;
  font-family: Open Sans, Arial, Sans-serif;
}

.header-search-field {
  height: 40px;
  width: 80%;
  padding: 10px;
  font-family: Open Sans, Arial, Sans-serif;
}

.header-search-submit {
  height: 40px;
  width: 15%;
  border: none;
  font-family: Open Sans, Arial, Sans-serif;
}

.main {
  padding: 48px;
}

.main-heading {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 54px;
  text-align: center;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 38px;
  position: relative;
  text-align: center;
}

.artists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}

.list-item-wrap {
  position: relative;
  margin-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list-item-name {
  margin-top: 12px;
  font-weight: 700;
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-name-link {
  color: #222;
}

.avatar {
  border-radius: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.regular-tags {
  color: rgb(153, 153, 153);
}

.tag {
  display: inline;
  word-break: break-word;
  font-size: 12px;
}

.tag-link {
  color: rgb(153, 153, 153);
}

.popular-tracks {
  margin: 100px auto;
}

.tracks {
  gap: 24px 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(5, 60px);
  max-width: 940px;
  margin: 0 auto;
}

.tracks-item-wrap {
  display: flex;
  flex-direction: row;
}

.tracks-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.tracks-item-name-link {
  color: #222;
  font-size: 14px;
  line-height: 21px;
}

.tracks-item-artist {
  display: block;
  white-space: nowrap;
}

.tracks-item-artist-link {
  color: #222;
  font-size: 14px;
}

.page-content {
  width: 800px;
  margin-top: 48px;
}

.cover-art {
  height: 60px;
  width: 60px;
}

.rounded {
  border-radius: 50%;
}

.footer {
  height: 200px;
  width: 100%;
  padding-top: 30px;
  background-color: #111;
  color: #fff;
}

.footer-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-heading {
  color: #666;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.content-top-heading {
  margin-top: 24px;
  font-size: 30px;
  letter-spacing: -0.4px;
  line-height: 36px;
}

.section {
  margin-bottom: 100px;
}

.artist-section, .album-section, .tracks-section {
  margin-top: 24px;
}

.section-heading-search {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
}

.artist-results, .album-results {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.artist-result-wrap, .album-result-wrap {
  display: flex;
  width: 400px;
  margin-top: 20px;
}

.artist-result-item, .album-result-item {
  margin-left: 10px;
}

.artist-result-item-name, .album-result-item-name {
  margin-top: 12px;
  font-weight: 700;
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-result-item-name-link, .album-result-item-name-link {
  font-size: 14px;
  color: #222;
}

.artist-result-item-listeners {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.album-result-item-artist {
  color: #222;
  font-size: 14px;
  font-weight: 300;
}

.chartlist-table {
  margin-top: 20px;
}

.chartlist-row {
  padding: 9px 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: left;
  align-items: center;
}

.chartlist-image {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.chartlist-image-image {
  width: 31px;
  height: 31px;
}

.chartlist-name {
  width: 30vw;
  margin-left: 30px;
  flex-shrink: 1;
  display: block;
}

.chartlist-name-link {
  font-weight: 700;
  color: #222;
  font-size: 14px;
}

.chartlist-artist {
  width: 20vw;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.chartlist-artist-link {
  color: #222;
  font-size: 14px;
}

.chartlist-duration {
  color: #999;
}